TZ=Asia/Tokyo
HTTP_HOST=""
HTTP_PORT=3000
DB_HOST="db"
DB_PORT=3306
DB_USERNAME=seisankun
DB_PASSWORD=root
DB_DATABASE=password
GOOSE_DRIVER=mysql
GOOSE_DBSTRING="seisankun:password@tcp(db:3306)/seisankun"
GO111MODULE="on"